{% extends 'base.html' %}

{% block more_header %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>关于</h1>
</div>
<div>
  <p>2014年5月4日，支付宝下线了收款主页服务（me.alipay.com）：<a href="http://club.alipay.com/read-htm-tid-10789117.html">官方公告</a>。</p>
  <p>不管支付宝出于什么样的<strong>战略考虑</strong>关停了这项服务，不得不说，这给我（相信也有其他人）带来了一些不便。</p>
  <p>以前，只需要把收款主页的链接发给别人或者贴在自我介绍里就可以了，现在呢，要把一张二维码图片贴来贴去，好麻烦。</p>
  <p>所以，我做了这个网站，每个人可以注册一个收款主页，贴上自己的二维码和自我介绍，然后就可以像以前一样，把链接贴来贴去了。</p>
  <p>希望你能用得上。</p>
</div>
{% endblock %}
