{% extends 'base.html' %}

{% block more_header %}
<style type="text/css">
  body {
    background: url('/static/images/bg.jpg') no-repeat;
  }
  .login-container {
    margin-left: 50px;
  }
  .intro-container img {
    max-width: 600px;
    max-height: 400px;
  }
  @media screen and (max-width: 768px) {
    .login-container {
      margin-left: 0;
    }
    .intro-container img {
      width: 100%;
    }
  }
  nav a, footer a {
    color: #2C3E50;
  }
</style>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>支付宝收款主页 <small>非官方</small></h1>
</div>
<div class="intro-container pull-left">
  <img src="{{config.STATIC_PREFIX}}/images/screenshot.png" class="img-thumbnail" />
</div>
<div class="login-container pull-left">
  <h4>立刻创建</h4>
  <a href="{{ url_for('login') }}">
    <img src="http://img.t.sinajs.cn/t4/appstyle/open/images/website/loginbtn/loginbtn_01.png" />
  </a>
</div>
{% endblock %}
