{% extends 'base.html' %}

{% block title %}
  {{realname or username}}的收款主页
{% endblock %}

{% block more_header %}
  <style type="text/css">
    .main-container {
      max-width: 700px;
    }
    .page-title {
      padding-top: 10px;
    }
    .qr-code, .sidebar {
      float: left;
    }
    .qr-code {
      width: 310px;
    }
    .qr-code img {
      max-width: 300px;
      max-height: 300px;
    }
    .qr-code p {
      font-size: 15px;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-top: 20px;
    }
    .sidebar {
      padding-left: 20px;
      margin-left: 20px;
      width: 320px;
      max-width: 320px;
    }
    .edit-intro {
      font-size: 16px;
      cursor: pointer;
    }
    .edit-intro .edit-icon {
      font-size: 13px;
    }
    @media screen and (max-width: 768px) {
      .sidebar {
        margin-left: 0;
        padding-left: 0;
        border: none;
      }
    }
    #edit-intro-form {
      display: none;
    }
    .weibo-card {
      width: 320px;
      max-width: 320px;
      border: 1px solid #D2D2D2;
      border-top-width: 2px;
      font-size: 14px;
      padding: 15px;
      padding-bottom: 20px;
    }
    .weibo-card .avatar {
      float: left;
      margin-right: 10px;
    }
    .weibo-card .location {
      font-size: 13px;
      color: #999;
    }
  </style>
{% endblock %}

{% block content %}

<h3 class="page-title">{{realname or username}}的收款主页</h3>

<hr />

<div class="main-container center-block">
  <div class="qr-code well">
    <h5>TA的支付宝二维码</h5>
    <img src="/qr/{{username}}" />
    <p>用手机钱包扫码支付哦～</p>
  </div>
  <div class="sidebar">
    <div class="intro">
      <h5>备注
        {% if is_owner %}
        <span class="edit-intro">
          (<span class="edit-icon fui-new"></span>
          <span class="text">编辑</span>)
        </span>
        {% endif %}
      </h5>
      <blockquote>
        <span id="intro-text">{{intro}}</span>
        {% if is_owner %}
          <form action="/{{username}}/edit" method="post" id="edit-intro-form">
            <textarea name="intro" class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-primary btn-xs">提交</button>
            <button type="button" class="btn btn-default btn-xs edit-cancel">取消</button>
          </form>
        {% endif %}
      </blockquote>
    </div>
    <div class="weibo">
      <h5>关联的微博账号</h5>
      <div class="weibo-card">
        <div class="avatar">
          <a href="http://weibo.com/{{weibo_id}}" target="_blank">
            <img src="{{weibo_avatar}}" />
          </a>
        </div>
        <div class="detail">
          <div class="name">
            <a href="http://weibo.com/{{weibo_id}}" target="_blank">{{weibo_name}}</a>
          </div>
          <div class="location">
            <span>{{weibo_location}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block more_footer %}
<script type="text/javascript">
  $('.edit-intro').click(function() {
    $(this).hide();
    $('#intro-text').hide();
    $('#edit-intro-form').show();
    $('#edit-intro-form textarea').val($('#intro-text').text());
  });
  function reset() {
    $('.edit-intro').show();
    $('#intro-text').show();
    $('#edit-intro-form').hide();
  }
  $('.edit-cancel').click(reset);
  $('#edit-intro-form').submit(function(event) {
    var fm = $(this);
    $.post(fm.attr('action'), fm.serialize())
     .done(function(data) {
       $('#intro-text').text($('#edit-intro-form textarea').val());
       reset();
     })
     .fail(function() {
       alert('哎呀不好出错了，请稍后重试');
     });
    event.preventDefault();
  });
</script>
{% endblock %}
